nav {
   
    background-color: rgb(253, 238, 236);
}
.map-area {
    background-color: rgb(223, 202, 202);
    height: 100%;
    text-align: center;
    padding: 5%;
    
}
.cafe-list {
    float: right;

}
.suggestion {
    background-color: rgb(183, 183, 209);
    text-align: center;
}
.card-body {
    background-color: rgb(197, 216, 197);
}
.sign-up {
    padding: 10%;
}
