nav {
    width: 115%;
    margin-left: -7%;
    background-color: rgb(251, 236, 253);
}
.map-area {
    background-color: rgb(223, 202, 202);
    height: 100%;
    text-align: center;
}
.cafe-list {
    float: right;
}
.suggestion {
    background-color: rgb(183, 183, 209);
    text-align: center;
}
.card-body {
    background-color: rgb(197, 216, 197);
}
